
  @import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded&display=swap');

body {
  
  font-family: 'Encode Sans Expanded', sans-serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.productitem a{
  color:#000;
  text-decoration: none;
}
.loading{
  display: flex;
  /* justify-content: center;
  align-items: center; */
  z-index: 999;
}

